.DS_Store
.trae/

node_modules/
dist/
coverage/
.nuxt/
.output/
.vite/

apps/web/node_modules/
apps/admin/node_modules/
apps/admin/dist/

data/sqlite/*.db
data/sqlite/*.db-*
data/minio/

apps/api/bin/
apps/api/tmp/
apps/api/data/sqlite/*.db
apps/api/data/sqlite/*.db-*
apps/api/data/uploads/
apps/api/data/minio/
apps/api/server
apps/api/server.exe

dist-packages/
*.tar
*.tar.gz

.env
.env.*
!.env.example
.vercel
apps/**/.vercel
